header {
  background-color: red;
  color: white;
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

/* main styles */

main {
  padding: 20px;
}

.bio h2,
.bio p {
  margin-bottom: 20px;
}

.products h2 {
  margin-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.products-list>div {
  padding: 10px;
  text-align: center;
  box-shadow: 3px 4px 9px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.products-list img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0;
}

.buy {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.buy p {
  font-weight: bold;
}

.buy button {
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: wheat;
  cursor: pointer;
}

footer {
  background-color: black;
  padding: 30px;
  text-align: center;
  color: white;
}